# Data Science Tools and Ecosystem

**In this notebook, Data Science Tools and Ecosystem are summarized**
- List popular languages for Data Science.  
- List common libraries used in Data Science.  
- Provide an overview of Data Science tools.  
- Demonstrate arithmetic expressions in Python.

Some of the popular languages that Data Scientists use are:  
    1. Python  
    2. R  
    3. SQL  
    4. Julia

Some of the commonly used libraries used by Data Scientists include:  
1. Pandas  
2. NumPy  
3. Matplotlib  
4. Scikit-learn

| Data Science Tools  |  
|---------------------|  
| Jupyter             |  
| RStudio             |  
| Apache Spark        |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [9]:
# This is a simple arithmetic expression to multiply then add integers  
x = (3 * 4) + 5  
print(x)

17

In [11]:
# This will convert 200 minutes to hours by dividing by 60  
hours = 200 / 60  
print(hours)

3.3333333333333335

## Author  
Tao Quoc Hai